page-p3k {
    .bg{
        background-image: url('../assets/imgs/firstAid.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 79%;
    }
}
