<ion-header>

  <ion-navbar color="custom2">
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{data.name}}
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="data.comment" placeholder="Add comment here">
      </ion-textarea>
      <ion-buttons end>
        <button (click)="postcomment()" ion-button small clear>
          Post
        </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <div *ngIf="comments?.length > 0">
  <ion-card *ngFor="let comment of comments">

    <button  *ngIf="comment.user_id == data.user_id" (click)="deleteComment($event, comment.comment_id)" ion-button icon-start clear item-end float-right>
      <ion-icon name="close"></ion-icon>
    </button>

    <ion-card-header>
      {{comment.name}}
    </ion-card-header>
    <ion-card-content>
      {{comment.comment}}
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
